*.pyc
*.pkc
*.class
*$py.class
.DS_Store
_build
build
dist
*.egg-info
*~
*.bak
*.swp
nengo.simulator.plots/
log.txt
.ipynb_checkpoints/
.cache
.tox
/HRLproject/.settings
/HRLproject/.project
/HRLproject/.pydev
/HRLproject/data/*
!/HRLproject/data/easygrid.txt
!/HRLproject/data/3_3_nogoal_grid.txt
!/HRLproject/data/6_6_nogoal_grid.txt
!/HRLproject/data/easygrid.txt
!/HRLproject/data/6_6_cornergoals.txt
!/HRLproject/data/easy_cornergoals.txt